/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke ;
}

body,
html {
  height: 100%;
}

h1 {width: auto;
    height: auto;}

h4 {
  font-family: 'Lucida Sans';
}

.jumbotron {
  background-image: url("banner.jpg");
  background-size: cover;
  background-position: center;
  color: orangered;
  text-align:right;
}

